<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="hibernatefile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <Append>true</Append>
    <File>@TOKEN.LOG.ROOT@/@TOKEN.APP.NAME.LOWCASE@-hibernate.log</File>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{ISO8601} [%-5p][%c] -- %m%n</Pattern>
    </layout>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>@TOKEN.LOG.ROOT@/@TOKEN.APP.NAME.LOWCASE@-hibernate-%d{yyyy-MM-dd}.log</FileNamePattern>
      <!-- keep 60 days worth of history -->
      <MaxHistory>60</MaxHistory>
    </rollingPolicy>
  </appender>
  <appender name="mainfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <Append>true</Append>
    <File>@TOKEN.LOG.ROOT@/@TOKEN.APP.NAME.LOWCASE@.log</File>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{ISO8601} [%-5p][%c] -- %m%n</Pattern>
    </layout>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>@TOKEN.LOG.ROOT@/@TOKEN.APP.NAME.LOWCASE@-%d{yyyy-MM-dd}.log</FileNamePattern>
      <!-- keep 60 days worth of history -->
      <MaxHistory>60</MaxHistory>
    </rollingPolicy>
  </appender>
  <appender name="auditfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <Append>true</Append>
    <File>@TOKEN.LOG.ROOT@/@TOKEN.APP.NAME.LOWCASE@-audit.log</File>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{ISO8601} [%-5p][%c] -- %m%n</Pattern>
    </layout>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>@TOKEN.LOG.ROOT@/@TOKEN.APP.NAME.LOWCASE@-audit-%d{yyyy-MM-dd}.log</FileNamePattern>
      <!-- keep 60 days worth of history -->
      <MaxHistory>60</MaxHistory>
    </rollingPolicy>
  </appender>
  
  <logger name="com.edgenius" level="INFO"/>
  
  <logger name="com.opensymphony.xwork2.ognl" level="ERROR">
    <appender-ref ref="mainfile"/>
  </logger>
  
  <logger name="org.hibernate" level="INFO" additivity="false">
    <appender-ref ref="hibernatefile"/>
  </logger>
  
  <logger name="com.edgenius.core.util.AuditLogger" level="INFO"  additivity="false">
    <appender-ref ref="auditfile"/>
  </logger>
  
  <root level="INFO">
    <appender-ref ref="mainfile"/>
  </root>
  
</configuration>
