<div>
	<div id="_spacemenu"></div>
	<div id="_message"></div>
	<div id="_diff_message"></div>

	<div style="clear: both"></div>

	<div id="_title" style="float: left"></div>
	<div id="_page_pin" style="float: left;display:none"></div>
	<div id="_actions" style="float: right"></div>

	<div style="clear: both"></div>

	<div id="_togglers" style="padding: 15px 0 15px 0;">
		<div id="_attchments" style="float: right"></div>
		<div id="_urls" style="float: right"></div>
	</div>

	<div style="clear: both"></div>
	<div id="_urls_panel"></div>
	<div id="_attchments_panel"></div>

	<div style="clear: both"></div>
	<div id="_body" style="min-height: 250px"></div>

	<div style="clear: both"></div>
	<div style="padding: 15px 0 30px 0;">
		<div id="_tags" style="float: left"></div>

		<div>
			<div id="_rss" style="float: right"></div>
			<div id="_export" style="float: right"></div>
			<div id="_watch" style="float: right"></div>
			<div id="_favorite" style="float: right"></div>
		</div>
	</div>
	<div style="clear: both"></div>
	<div id="_tabs"></div>
</div>