.DS_Store
*.ddl
.svn/
.settings/
.gwt-cache/
build/
target/
lib/
dev/
dist/
.gwt-tmp/
catalina.base_IS_UNDEFINED/
geniuswiki.log.dir_IS_UNDEFINED/
www-test/
reports/
docs/
src/license/
src/highlight/
tomcat/
