<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">

  	<bean id="calendarService" class="com.edgenius.wiki.ext.calendar.service.CalendarServiceImpl" init-method="initListeners">
  	</bean>
  	
  	<bean id="calendarAction" class="com.edgenius.wiki.ext.calendar.web.CalendarAction" scope="prototype">
  	</bean>
  	
  	<bean id="todoService" class="com.edgenius.wiki.ext.todo.service.TodoServiceImpl" init-method="initListeners">
  	</bean>
  	
  	<bean id="todoAction" class="com.edgenius.wiki.ext.todo.web.TodoAction" scope="prototype">
  	</bean>

  	<bean id="tabsService" class="com.edgenius.wiki.ext.tabs.TabsService">
  	</bean>
  	
  	<bean id="shareService" class="com.edgenius.wiki.ext.macro.ShareService">
  	</bean>
  	
</beans>