<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">
	
    <bean id="pageDAO" class="com.edgenius.wiki.dao.hibernate.PageDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="draftDAO" class="com.edgenius.wiki.dao.hibernate.DraftDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="historyDAO" class="com.edgenius.wiki.dao.hibernate.HistoryDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
	
    <bean id="pageLinkDAO" class="com.edgenius.wiki.dao.hibernate.PageLinkDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="pageProgressDAO" class="com.edgenius.wiki.dao.hibernate.PageProgressDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userPageDAO" class="com.edgenius.wiki.dao.hibernate.UserPageDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
	
    <bean id="spaceDAO" class="com.edgenius.wiki.dao.hibernate.SpaceDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="pageTagDAO" class="com.edgenius.wiki.dao.hibernate.PageTagDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="spaceTagDAO" class="com.edgenius.wiki.dao.hibernate.SpaceTagDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="commentDAO" class="com.edgenius.wiki.dao.hibernate.CommentDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="templateDAO" class="com.edgenius.wiki.dao.hibernate.TemplateDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="friendDAO" class="com.edgenius.wiki.dao.hibernate.FriendDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="widgetDAO" class="com.edgenius.wiki.dao.hibernate.WidgetDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="invitationDAO" class="com.edgenius.wiki.dao.hibernate.InvitationDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="notificationDAO" class="com.edgenius.wiki.dao.hibernate.NotificationDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="activityLogDAO" class="com.edgenius.wiki.dao.hibernate.ActivityLogDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="jdbcTemplateDAO" class="com.edgenius.wiki.dao.hibernate.JDBCTemplateDAO">
    	<constructor-arg ref="coreDS"></constructor-arg>
    </bean>

	
</beans>