body {
	line-height: 16px;
	font-size: 12px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif; 
}
a {
	color: #303694;
	border-bottom: 1px solid #303694;
	text-decoration: none;
}

a:hover {
	color: #303694;
	text-decoration: none;
	border-bottom: 1px solid #303694;
}

a:visited {
	text-decoration: none;
}
.print-page{
	margin: 10px 0 25px 0;
	width:95%;
}
.print-body{
	padding: 10px 10px 0 10px;
}
.print-history-warn{
	color: #9F6000;
    background-color: #FEEFB3;
	border: 1px solid;
	margin: 5px 20px 15px 15px;
	padding: 3px;
	position: relative;
}
.print-title{
	font-size: 30px;
	font-weight: bold;
	text-align:center;
}
.print-author{
	text-align:center;
	border:1px solid #AAAAAA;
	background-color: #F9F9F9;
	font-size: 12px;
	color:#7F7B7A;
}
.print-tags{
	font-size: 12px;
	text-align: right;
	color:#7F7B7A;
}
.print-page-separator{
	width:100%;
	height:2px;
	border:1px dashed #000;
}
pre{
	border:1px solid #AAAAAA;
	background: #F0F0F0;
}
.form-label{
	font-weight: bold;
}